@media screen and (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 1158px;
  }

  /* -----------FOOTER----------- */

  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .page-footer .container {
    width: 1158px;
    align-items: center;
  }

  .soc-footer {
    margin-left: 120px;
  }
  .footer-field-subscribe {
    margin-left: 80px;
  }

  /* -----------PRINCIPLES----------- */
  .principles {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .principles-icon-box {
    margin-bottom: 8px;
    display: flex;

    height: 112px;

    background-color: #f4f4fd;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
  }

  .princeples-icon {
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;

    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-items: center;

    background-color: #f4f4fd;
  }

  .principles-list {
    gap: 24px;
  }

  .principles-item {
    width: calc((100% - 72px) / 4);
  }

  .principles-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .principles-item-text {
    font-weight: 400;
  }

  /* -----------PRODUCT----------- */
  .product {
    display: block;
    padding-top: 0;
    padding-bottom: 120px;
    text-align: center;
  }

  .product-title {
    margin-top: 0;
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .product-list {
    display: flex;

    gap: 24px;
  }

  .product-item {
    width: calc((100%-48px) / 3);
  }

  .product-img {
    border-box: var(--border);
  }

  /* -----------TEAM----------- */
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team .container {
    width: 1158px;
  }

  /* ----------CUSTOMERS----------*/
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}
