@media screen and (min-width:480px) {
  .container {
    width: 428px;
  }

  /* ---------MODAL---------- */

  @media screen and (max-width: 767px) {

    .modal{
      width: 95%;
  max-width: 392px;
  height: 95%;
  max-height: 586px;
  overflow: scroll;
    }
    
  }
}
