@media screen and (min-width: 758px) {
  .container {
    width: 768px;
  }

  /* -----------FOOTER----------- */

  .page-footer .container {
    width: 584px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
  }

  .main-footer-cont {
    display: inline-block;
  }

  .soc-footer {
    display: block;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-field-subscribe {
    align-items: flex-start;
  }

  /* -----------PRINCIPLES----------- */
  .principles {
    text-align: start;
  }

  .principles-item-title {
    text-align: start;
  }
  .principles-list {
    gap: 72px 24px;
  }

  .principles-item {
    width: 351px;
  }

  /* -----------TEAM----------- */
  .team {
    padding-bottom: 108px;
  }
  .team .container {
    width: 584px;
  }

  .team-list {
    gap: 24px;
  }

  /* ----------CUSTOMERS----------*/
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
}
